*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Rubik-Medium;
    src: url(../fonts/Rubik-Medium.ttf);
}
@font-face {
    font-family: Rubik-Regular;
    src: url(../fonts/Rubik-Regular.ttf);
}
.container {
    width: 1180px;
    /* background-color: purple; */
    margin: 0 auto;
    
}
.header{
    height: 40px;
    /* background-color: lightgreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.header__logo{
    display: flex;
    align-items: center;
}

.header__logo_name {
    margin-left: 11.88px;
    font-family: Rubik-Medium;
    font-size: 20px;
    color: #333333;
}

.header__search_txt {
    border: none;
    border-bottom: 1px solid #333333 ;
    width: 320px;
    height: 25px;
    font-size: 16px;
    color:#333333;
    font-family: Rubik-Medium;
}
.header__search_txt::placeholder{
    font-size: 16px;
    font-family: Rubik-Regular;
    color: #828282;
}
.header__search_txt:focus{
    outline: none;
}
.header__search_btn{
    border:none;
    background: none;
    font-family: Rubik-Medium;
    font-size: 16px;
    color: #E5261E;
    margin-left: 32px;
}
.header__auth{
    width: 113px;
    height: 38px;
    border: none;
    background-color: #E5261E;
    color: #ffffff;
    font-size: 16px;
    font-family: Rubik-Medium;
    border-radius: 4px;
}
.header__auth:hover{
    background-color: #CC221B;
}
.menu {
    width: 311px;
    height: 42px;
    margin: 44px auto 32px auto;
    /* background-color: papayawhip; */
    display: flex;
    justify-content: space-between;
}

.menu_ui{
    text-decoration: none;
    font-family: Rubik-Medium;
    font-size: 28px;
    color: #333333;
}
.menu_ui:focus,
.menu_ui:active{
    color: #E5261E;
    padding-bottom: 9px ;
    border-bottom: 2px solid #E5261E;
}
.overflow{
    overflow-y: auto;
    width: 1200px;
    height: 600px;
}
.overflow::-webkit-scrollbar{
    width: 8px;
}
.overflow::-webkit-scrollbar-track{
    background-color: #F2F2F2;
    border-radius: 2px;
}
.overflow::-webkit-scrollbar-thumb{
    background-color: #BDBDBD;
    border-radius: 2px;
    border: 2px solid #F2F2F2
}
.channels{
    width: 1180px;
    height: 696px;
}
.channel{
    width: 1180px;
    height: 162px;
    background-color: #F2F2F2;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}
.channel__1{
    width: 49px;
    height: 64px;
    margin: 0 176px 0 176px ;
}
.channel__txt{
    height: 122px;  
    color: #333333;
    font-family: Rubik-Regular;
}
.channel__txt h3{
    font-size: 20px;
    margin-bottom: 17px;
    font-family: Rubik-Medium;
}
.broadcasts{
    font-size: 16px;
    color: #333333;  
}
.first{
    display: flex;
    margin-bottom: 12px;
}
.next_hour{
    margin-right: 16px;
    color: #E5261E;
}
.hours{
    margin-right: 16px;
}
.hours p{
    margin-bottom: 12px;
}
.broadcast__name p{
 margin-bottom: 12px;
}
.next{
    color: #E5261E;
}
.channel__2x2{
    width: 114px;
    height: 49px;
    margin: 0 143px 0 143px;
}
.channel__rbk{
    width: 54px;
    height: 54px;
    margin: 0 174px 0 172px;
}
.channel__a{
    width: 64px;
    height: 64px;
    margin: 0 168px
}
.container_f{
    width: 100%;
    height: 120px;
    margin: 0 auto;
    margin-top: 72px;
    background-color: #f2f2f2;
    bottom: 0;
    display: flex;
    align-items: center;
}
.logo_f{
    width: 32px;
    height: 64px;
    margin-left: 130px;
    margin-right: 40px;
}
.footer_description1{
    font-size: 16px;
    font-family: Rubik-Regular;
    display: flex;
    flex-direction: column ;
    color: #333333;
}
.contact{
    color: #1F4766;
    font-family: Rubik-Medium;
    text-decoration: none;
}

.comedy{
    background: linear-gradient(#F2C94C,#F29A4A);
}
@media screen and (max-width: 390px){
    .container{
        width: 390px;
        margin: 0 auto;
    }
    .header {
        height: 20px;
        display: flex;
        margin-top: 15px;
        justify-content: space-around;
    }
    .header__logo{
        display: flex;
        align-items: center;
    }
    .header__logo img{
        width: 27px;
        height: 26px;
    }
    .header__search_txt {
        border: none;
        border-bottom: 1px solid #333333 ;
        width: 120px;
        height: 25px;
        font-size: 16px;
        color:#333333;
        font-family: Rubik-Medium;
    }
    .header__search_txt::placeholder{
        font-size: 11px;
        font-family: Rubik-Regular;
        color: #828282;
    }
    .header__search_btn{
        border:none;
        background: none;
        font-family: Rubik-Medium;
        font-size: 11px;
        color: #E5261E;
        margin-left: 10px;
    }
    .header__auth{
        width: 73px;
        height: 28px;
        border: none;
        background-color: #E5261E;
        color: #ffffff;
        font-size: 11px;
        font-family: Rubik-Medium;
        border-radius: 4px;
    }
    .header__auth:active{
        background-color: #CC221B;
    }
    .menu {
        width: 390px;
        height: 0px;
        margin-top: 30px;
        display: flex;
        justify-content: space-evenly;
    }
    .menu_ui{
        text-decoration: none;
        font-family: Rubik-Medium;
        font-size: 18px;
        color: #333333;
    }
    .header__logo_name{
        display: none;
        }
        .overflow{
            width: 390px;
            height: 400px;
            overflow-x: hidden;
        }
        .channels{
            width: 390px;
            height: 600px;
        }
        .channel{
            width: 385px;
        height: 140px;
        background-color: #F2F2F2;
        margin-bottom: 13px;
        display: flex
;
        align-items: center;
        }
        .channel__1{
            width: 25px;
            height: 33px;
            margin: 0 45px 0 45px ;
        }
        .channel__txt{
            width: 230px;
            height: 110px;  
            color: #333333;
            font-family: Rubik-Regular;
        }
        .channel__txt h3{
            font-size: 15px;
            margin-bottom: 7px;
            font-family: Rubik-Medium;
        }
        .broadcasts{
            font-size: 12px;
            color: #333333;  
        }
        .hours{
            margin-right: 16px;
        }
        .hours p{
            margin-bottom: 12px;
        }
        .broadcast__name p{
         margin-bottom: 12px;
        }
        .next{
            color: #E5261E;
        }
        .channel__2x2{
            width: 54px;
        height: 25px;
        margin: 0 37px 0 27px;
        }
        .channel__2x2 h3{
            font-size: 15px;
            margin-bottom: 7px;
            font-family: Rubik-Medium;
        }
        .channel__rbk {
            width: 34px;
            height: 34px;
            margin: 0px 47px 0 44px;
        }
        .channel__a{
            width: 34px;
        height: 34px;
        margin: 0 47px;
        }
        .container_f{
            width: 100%;
            height: 120px;
            margin: 0 auto;
            margin-top: 72px;
            background-color: #f2f2f2;
            bottom: 0;
            display: flex;
            align-items: center;
        }
        .logo_f{
            width: 22px;
        height: 54px;
        margin-left: 51px;
        margin-right: 39px;
        }
        .footer_description1{
            font-size: 14px;
        font-family: Rubik-Regular;
        display: flex;
        flex-direction: column;
        color: #333333;
        }
        .contact{
            color: #1F4766;
            font-family: Rubik-Medium;
            text-decoration: none;
        }
        .f {
            display: flex;
        }
}
